

@import"./variables";



@import"./../../node_modules/bootstrap/scss/functions";
@import"./../../node_modules/bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors , $coustom_theme_colors);

// $grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);

@import"./../../node_modules/bootstrap/scss/bootstrap.scss";

.primary-light{
    background-color: $primary-light;
}


.footer-bottom{
    --bs-border-opacity: .3;
}
.line{
    width: 108px;
    height: 1.5px;
    background-color: black;
}