

@import"./variables";



@import"./../vendor/scss/functions";
@import"./../vendor/scss/variables";

$theme-colors: map-merge($theme-colors , $coustom_theme_colors);

@import"./../vendor/scss/bootstrap.scss";

