

@import"./variables";



@import"./../../node_modules/bootstrap/scss/functions";
@import"./../../node_modules/bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors , $coustom_theme_colors);

@import"./../../node_modules/bootstrap/scss/bootstrap.scss";

*{
    margin: 0;
    padding: 0;
}