

@import"./variables";



@import"./../../node_modules/bootstrap/scss/functions";
@import"./../../node_modules/bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors , $coustom_theme_colors);

// $grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);

@import"./../../node_modules/bootstrap/scss/bootstrap.scss";

.primary-light{
    background-color: $primary-light;
}

.btn{
    --bs-border-radius: none;
}

.footer-bottom{
    --bs-border-opacity: .3;
}
.line{
    width: 108px;
    height: 1.5px;
    background-color: black;
}


.cormorant {
  font-family: "Cormorant", serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
}
.poppins{
    font-family: "Poppins", sans-serif;
}

.why-us .container .poster{
    bottom: -20%;
}

*{
    font-family: "poppins", sans-serif;
}
.membership{
    background-image: url(./../../assets/images/membership/placeholder.png);
    background-size: cover;
}